
body{
    background-color: indigo;
}



.container {
    background-color: green;
    color: black;
    height: 50em;
    width: 50em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

};

